/* url_css.css */
* {
  box-sizing: border-box;
}

body,html {
  outline: unset;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
  color:  #384241 ;
  background-color: #c6c3c3 !important;
  position: relative;
}
div#loadingIndicator{
  color: #384241 ;

}
body::before {
  content: "";
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #626161;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Fix the header styles */
header {
  position: fixed;
  width: 100%;
  background-color: #384241;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.5s;
  padding: 0.5rem 0;
  z-index: 1000;
  max-height: fit-content;
  min-height: 6rem;
}

/* Adjust the logo styles */
.logo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #ebc263;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 1.6px;
  line-height: 60px;
  float: left;
  width: 30%;
  object-fit: cover;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .bi.bi-layout-sidebar-inset, .bi.bi-layout-sidebar-inset-reverse {
      display: none !important; /* Hide initially */
  }
}

.bi-layout-sidebar-inset:before{
  color: #e8e6e6;
  margin: 10px;
  font-size: x-large;
}
/* Adjust the navigation styles */
nav {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  margin-right: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0rem 0.4rem;
  position: relative;
}

nav ul li a {
  color: #7fe89e;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 2.2px;
  padding: 0.7rem 1rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
  font-weight: bold;
}

nav ul li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #FFDB00;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

nav ul li:hover::after {
  width: 100%;
}

@media (max-width: 392px) {
  /* Adjusting the close icon styles */
  .navigation.active .bi.bi-layout-sidebar-inset-reverse.close-icon {
    color: #000000 !important;
    top: 10px !important;
    right: 10px !important;
    font-size: 24px !important;
}
}

/* Adjust the navigation styles for screens below 768px */
@media (max-width: 768px) {
  .bi.bi-layout-sidebar-inset {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
  }
  div.textOne{
    padding: 0 1rem 2rem 1rem !important;
  }
  div.textOne p{
    line-height: 1.78rem !important;
    font-size: 1.2rem !important;
    letter-spacing: 2.5px !important;
  }
  .hero-banner{
    min-height: 25rem !important;
    padding-top: 8rem !important;
  }
  div#dataTableContainer.table, div#tryTable.table, div#file-data-table.table{
    overflow-x: scroll !important;
    padding: 0 2% !important;
    min-height: 6rem !important;
    max-height: 15rem !important;
  }
  .logo {
      width: 9.8rem;
      padding-top: 2.1rem;
      font-size: 1.3rem;
      line-height: 24px;
      color: #ebc263;
      margin: 0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
  }
  p.dnlh{
    display: none;
  }

  /* Hide the navigation initially */
  .navigation {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      z-index: 100;
  }

  /* Display the navigation when active */
  .navigation.active {
      display: block;
      max-width: 350px;
      height: 100%;
      margin-top: 0;
  }

  /* Adjusting the close icon styles */
  .navigation.active .bi.bi-layout-sidebar-inset-reverse.close-icon {
      display: none;
      position: absolute;
      color: #f9f7f7;
      top: 1px;
      right: -30px;
      font-size: 24px;
      cursor: pointer;
  }

  /* Adjusting the navigation list styles */
  .navigation ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
  }

  /* Add spacing between navigation items */
  .navigation li {
      margin: 20px 0;
  }

  /* Update the link font size */
  .navigation a {
      font-size: 20px;
  }
}

/* ******************************************************************* */
/* **************  Body Main Content Start from here  ****************  */
/* ******************************************************************* */

main {
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: #fff;
}

.hero-container {
  max-width: 100%;
  margin: 0 auto;
}

.hero-banner {
  font-family: "Playfair Display", serif;
  width: auto;
  text-align: center;
  word-wrap: break-word;
  background-color: #f6f4f0;
  min-height: 36rem;  
  padding-top: 12rem;
  z-index: 999;
}

.banner-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 3.1rem;
  font-style: normal;
  color: #000000;
}

p.dnlh,p span.hope{
  font-size: 1.5rem;
  letter-spacing: 1.2rem;
  color: #f79f48;
}
p.dnlh{
  font-weight: 600;
  margin: auto;  
}
p span.hope:hover{
  color: #c300ff;

}
p span.hope:hover::after{
  width: 90%;
}
p span.hope{
  color: #000000;
  font-weight: bolder;
}
div.textOne{
  padding: 0 5rem 1rem 5rem;
  margin-top: 5%;
}
div.textOne p{
  word-wrap: break-word;
  font-family: 'Lato', serif;
  line-height: 2.5rem;
  font-size: 1.45rem;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.divider{
  margin: auto;
}
/* ********************************************************************************* */
#card1.card,#card2.card,#card3.card{
  border-radius: 1rem;
  outline: none;
}
#card1.card:hover,#card2.card:hover,#card3.card:hover{
  box-shadow: 0px 0px 10px 5px rgba(145, 155, 193, 0.25);
}
.card-body{
  text-align: left;
  letter-spacing: 0.5px;

}
p.card-text{
  font-weight: 300;
}
/* ************************************************************************************** */
p span.source{
  color: #f79f48;
  font-weight: 600; 
}
p span.source::after{
  height: 1px;
  background-color: #ab55f1;
}
p span.source:hover{
  color: #c300ff;

}
p span.source:hover::after{
  width: 90%;
}

p span.hope::after{
  height: 2px;
  background-color: #FFDB00;
}
/* ********************************************************************* */
form{
  display: block; 
  background-color: #ffffff;
  margin: auto !important;
  border-radius: 0.5rem;
}
.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 5px rgba(145, 155, 193, 0.25);
}
.form-container {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: #f6f4f0;
}
#file-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}
div.features h2{
  text-align: center;
  color: #384241;
  text-decoration: overline;
  margin: 2vmax;
}
/* Continue button in the bottom */
.container-btm{
  align-items: center;
  justify-content: center;
}
/* Container For Both Forms Wrapper and Bottom Button */
.formInput-container{
  display: inline-block;
  /* margin-top: 5rem; */
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 5px rgba(145, 155, 193, 0.25);
  border-radius: 8px;
}
/* Container Wrapper for */
.form-wrapper{
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  /* /* min-width: 370px; */
  min-height: 30rem; 
}
label[for="file"],label[for="manual-data"]{
  font-size: x-large ;
}
textarea#manual-data {
  border-radius: 8px;
}
label[for="sheet-name"],label[for="column-name"],label[for="manual-data"] span{
  font-size: large !important;
}
.wrapper-inner{
  align-items: center;
  justify-content: center;
  background-color: #047374;
  border-radius: 19px;

}

.frmOnly {
  border: 1px solid #4f3553;
  overflow: hidden;
  border-radius: 94px;
  padding: 1%;

}
/* #input_section{
  border: 2px solid #f89808;
} */
/* .formTitle{
  min-width: 25rem;
} */
@keyframes slideInLeft{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);

  }
}
@keyframes slideInRight{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);

  }
}
.left-side {
  animation-name: slideInLeft;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.right-side {
  animation-name: slideInRight;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.file-help-message {
  font-size: small;
  color: #0b010198;
  font-style: italic;
}
/* Style the Dropdown container */
.dropdown-fields{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.8vmax;
}
.login-fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* Style the label */
label[for="sheet-name"],
label[for="column-name"],
label[for="file"],
label[for="email"],
label[for="password"],
label[for="manual-data"] {
  margin-bottom: 5px;
  color: #626161;
}
label[for="email"],
label[for="password"],
label[for="file"],
label[for="manual-data"] {
  padding-top: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}
label[for="email"],
label[for="password"]{
  min-width: 20rem;
}
/* Style the select element */
select#sheet-name,
select#column-name {
  width: 85%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}
.file-input-field{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.31vmax;
  box-sizing: border-box;
}
input[type="file"] {
  position: relative;
  outline: none;
  color: #000000;
  padding: 0.25rem;
  margin: 1rem;
  font-style: italic;
}
input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
  border-radius: 4px;
  padding: 0 1rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 0.5rem;
  transition: background-color 200ms;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 0.8rem;
  left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 11px;
  left: 40px;
  color: #0964b0;
  content: "Upload File";
  font-style: normal !important;
}
input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
  outline: 2px solid #0964b0;
  outline-offset: 2px;
}
/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6f3;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

/* Style the dropdown options */
select#column-name option,
select#sheet-name option {
  padding: 5px;
} */

/* Style the placeholder option (if desired) */
select#column-name option[value=""],
select#sheet-name option[value=""] {
  color: #FFDB00; /* Adjust placeholder color here */
}

/* Adjust dropdown arrow styling (optional) */
select#sheet-name::-ms-expand-select,
select#column-name::-ms-expand-select {
  display: none; /* Remove IE arrow */
}

select#sheet-name::after,
select#column-name::after {
  content: "\25BC"; /* Down arrow character */
  color: #FFDB00;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
input#manual-form-submit{
  margin-bottom: 0.5rem;
}
button {
  padding: 0.4rem 0.7rem;
  margin: 0 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

/* *****************  URL Container Start from Here  *********************** */
#floatContainer {
  position: fixed;
  font-size: x-large;
  top: 75%;
  left: -25px;
  border-radius: 45%;
  z-index: 9999; /* Ensure it's above other elements */
  box-shadow: 0px 0px 10px 5px rgba(145, 155, 193, 0.25);
  display: none; /* Hidden by default */
}

.floaterIcon {
  color: #ffffff; /* Example text color */
  padding: 10px;
  border-radius: 45%  !important;
  /* Add additional styles as needed */
}
.floaterIcon:active {
  background-color: #ffffff  !important; /* Example background color */
  color: #000000  !important; /* Example text color */
  padding: 10px;
  border-radius: 45%;
  /* Add additional styles as needed */
}

.url-container {
  display: none;
  padding: 5% 16%;
}
div#file-tbl,div#mnl-tbl{
  padding: 0 21%;
}
div.url-wrapper h3,div#file-tbl h3{
  color: #000000;
  text-decoration: underline;
  text-underline-position: under;
  font-weight: 400;
  font-family: 'Playfair Display';
  margin-top: 1rem;
}
.firstCap{
  text-align: left;
  color: #047374;
  font-weight: 800;
}
.url-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 0.3rem;
  padding: 0.7rem;
  justify-content: center;
  overflow-y: auto;
  min-height: 10vh;
  max-height: 40vh;
  box-sizing: border-box;
  border: rgb(194, 61, 228) solid;
  border-radius: 0.8rem;
  box-shadow: rgba(255, 253, 253, 0.723) 0px 0.0625em 0.0625em, rgba(244, 242, 242, 0.603) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.8) 0px 0px 0px 1px inset;
}

#valid_list,
#invalid_list {
  flex-direction: column;
}

#valid_list a:link {
  color: #270ec6;
  text-decoration: none;
}

#invalid_list p {
  color: rgba(222, 82, 21, 0.949);
}

#valid_list a:visited {
  text-decoration: none;
  color: #db00ff;
}

#valid_list a:hover {
  text-decoration: none;
  font-weight: bolder;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.brd-shadow:hover{
  border-radius: 0rem 0rem 0.6rem 0.6rem !important;
  box-shadow: 1px -11px 13px 10px rgba(10, 27, 91, 0.25) inset;
  background: repeating-linear-gradient(-45deg, #fff 0 20px, #f9f9f9 0 40px) ;  
}
/* .brd-shadowinr{
  border-radius: 0.2rem !important;
  box-shadow: -1px -64px 20px -6px rgba(80,227,194,1) inset;
} */
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Tabular representation of dataSet  */
#tbl-section{
  display: none;
  margin-bottom: 2rem;
}
input[type=submit]:not(:disabled), button:not(:disabled){
  background-color: #068182;
  height: 3rem;
  border-radius: 8px;
}
input[type=submit]:not(:disabled):hover,button:not(:disabled):hover{
  background-color: #ebc263;
}
.data-table tbody tr td:nth-child(2), .data-table tr td:nth-child(2) {
  text-align: left;
}
div#file-data-table.table{
  min-height: 6rem;
  max-height: 27rem;
  overflow-x: hidden;
}
div#dataTableContainer.table, div#tryTable.table{
  min-height: 6rem;
  max-height: 27rem;
  overflow-x: hidden;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.data-table {
  border-collapse: collapse;
  width: 100%;
}
.data-table td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; 
}
.data-table th {
  color: #000000;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: #f2f2f2;
  
}
.data-table caption{
  color: bisque;
}
button#buttonDownload{
  background-color: #068182;
  height: 3rem;
  border-radius: 8px;
}
i.bi-sort-numeric-down-alt,i.bi-sort-numeric-down{
  color: #eb8763;
  font-weight: 800;
}
i.bi-sort-numeric-down-alt:hover,i.bi-sort-numeric-down:hover{
  color: #ebc263;
  font-weight: 500;
}
i.bi-sort-numeric-down-alt:active,i.bi-sort-numeric-down:active{
  color: #ab55f1;
  font-weight: 600;
  font-style: italic;
}

button#buttonDownload:hover{
  background-color: #068182;
}
#totalProcessingTime{
  color: #000000;
  padding: 0 10%; 
  text-align: left;
}
#tableDiv{
  padding: 0 10%;
}
/* Footer Section start from here  */
footer {
  background-color: #384241;
  color: #ffffff;
  text-align: center;
  padding: 20px 0 0;
  width: 100% !important;
  bottom: 0;
  position:absolute;

}
/* ********************************************************************************************************************* */
/* **************************************     Registration     **************************************************************** */
/* ********************************************************************************************************************* */
div.form-outline label.form-label{
  margin-left: 0.4rem;
  color: #e8e6e6;
}
button#btn-signup{
  background-color: #ebc263;
  color: #12032d;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
button#btn-signup:hover{
  background-color: #a0cfdf;

}
h2.text-success{
  color: #fc8670 !important;
  
}
/* ************************************** Progress Bar *************************************** */
@keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #068182;
  --secondary: #adf;
  --size: 150px;
  animation: progress 2s 0.5s forwards;
  box-shadow: 0px 0px 12px 15px rgba(0, 0, 0, 0.75) inset;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  box-shadow: 1px -11px 13px 10px rgba(10, 27, 91, 0.25) inset;
  
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
} 

/* ******************************************* */
