{% extends "base.html" %} {% block title %}Contact Us{% endblock %} {% block
head %}
<!-- Additional meta tags for the Privacy Policy page -->
<meta name="robots" content="noindex, nofollow" />
{% endblock %} {% block content %}

<div class="full-ht" style="padding: 4rem 2rem 3rem 2rem">
  <div class="file-section">
    <div class="text-center">
      <h1>Contact Us</h1>
      <br />
      <div class="px-5">
        <p class="lead">
          We would love to hear from you! If you have any questions, feedback,
          or inquiries, please don't hesitate to get in touch with us. we are
          here to assist you.
        </p>
      </div>
    </div>
    <ul class="list-unstyled text-left mx-5">
      <br />
      <li>
        <h2>Email Us</h2>
        <p class="lead">
           Send us an email at<strong> <U>arrow11420389mallikanti@gmail.com</U></strong>. We
          strive to respond to all inquiries within 24 hours.
        </p>
      </li>
      <li>
        <p class="lead text-center">
           Don't Forget to mention "URL Project:" as part of Subject.
        </p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
