{% extends "base.html" %}
<title>{% block title %}Terms & conditions{% endblock %}</title>
{% block content %}
<div class="form-container" style="padding: 10rem 2rem 3rem 2rem">
  <div id="file-section ">
    <div class="text-center">
      <h1>Terms and conditions</h1>
      <br />
      <div class="px-5">
        <p class="lead">
          At URL Project, we are dedicated to offering valuable services to
          our users. However, it's important to understand that the information
          and services offered on our website come with certain limitations and
          disclaimers. This disclaimer is designed to clarify our legal
          responsibilities and the rights and obligations of our users.
        </p>
      </div>
    </div>
    <ul class="list-unstyled text-left mx-5">
      <br />
      <li>
        <h2>Accuracy of Information</h2>
        <p class="lead">
          While we make every effort to ensure the accuracy and reliability of
          the information provided on our website, we cannot guarantee its
          completeness or suitability for any particular purpose. Users are
          encouraged to verify any information obtained from our website before
          relying on it for decision-making purposes.
        </p>
      </li>
      <br />
      <li>
        <h2>Limitation of Liability</h2>
        <p class="lead">
          We shall not be held liable for any damages or losses arising from the
          use of, or inability to use, our website or the information contained
          therein. This includes, but is not limited to, direct, indirect,
          incidental, consequential, or punitive damages.
        </p>
      </li>
      <br />
      <li>
        <h2>Third-Party Links</h2>
        <p class="lead">
          Our website may contain links to third-party websites or resources.
          These links are provided for convenience only and do not imply
          endorsement or approval of the content or services offered by such
          websites. We shall not be responsible for the availability, accuracy,
          or legality of any linked content.
        </p>
      </li>
      <br />
      <li>
        <h2>Intellectual Property Rights</h2>
        <p class="lead">
          All content, including but not limited to text, images, logos, and
          trademarks, displayed on our website is protected by intellectual
          property laws. Users are prohibited from reproducing, modifying,
          distributing, or republishing any content without prior written
          consent.
        </p>
      </li>
      <br />
      <li>
        <h2>Changes to Terms</h2>
        <p class="lead">
          We reserve the right to modify or update these terms and conditions at
          any time without prior notice. Users are advised to review this
          disclaimer periodically for any changes.
        </p>
      </li>
      <br />
      <li>
        <h2>Contact Information</h2>
        <p class="lead">
          If you have any questions or concerns regarding this Terms &
          conditions, please contact us at URL Project.
        </p>
      </li>

    </ul>
  </div>
</div>
{% endblock %}
