{% extends "base.html" %}
<title>{% block title %}Login Page{% endblock %}</title>

{% block content %}
<div class="form-container" style=" padding: 10rem 2rem 3rem 2rem;">
  <div id="file-section ">

    <div class="card-group gap-3 text-center">

        <div class="card text-left min-w-60 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" id="card1">
          <img class="card-img-top overflow-hidden rounded-t-lg max-h-50 object-cover w-80" src="../static/images/Enterprise software development.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Ensure your website's URLs are functioning properly with our comprehensive status checker.</p>
          </div>

        </div>

        <div class="card text-left min-w-60 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" id="card2">

          <img class="card-img-top overflow-hidden rounded-t-lg max-h-50 object-cover w-80" src="../static/images/file_thumb.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Easily input URLs manually or in bulk, or upload files in CSV or XLSX formats for streamlined processing.</p>
          </div>

        </div>
        <div class="card text-left min-w-60 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" id="card3">

          <img class="card-img-top overflow-hidden rounded-t-lg max-h-50 object-cover w-80" src="../static/images/link-building.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Seamlessly optimize your website for search engines with accurate and reliable data.</p>
          </div>

        </div>
      </div>
            
  </div>

  <div class="noble-editorial-pick mini-card-grid">
    <div class="mini-card min-w-80 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" :class="{ 'mini-card-first': index == 0 }">
<img src="https://arcc-journal.org/public/journals/1/submission_405_364_coverImage_en_US.jpg" class="overflow-hidden rounded-t-lg max-h-20 object-cover w-full">
<div class="p-4 flex flex-col">
<h4 class="title">
</h4>
<div class="ep-content ep-date-published">
<span class="fa fa-fw fa-calendar"></span>
<span>December 11, 2016</span>
</div>
<div class="ep-content ep-authors">
<i class="fa fa-fw fa-user"></i>
Michelle Laboy  et al. 
</div>
<div class="ep-content ep-issue">
<i class="fa fa-fw fa-book" aria-hidden="true"></i>
Vol. 13 No. 1 (2016)
</div>
</div>
</div>
     <div class="mini-card min-w-80 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" :class="{ 'mini-card-first': index == 0 }">
<img src="https://arcc-journal.org/public/journals/1/submission_242_211_coverImage_en_US.jpg" class="overflow-hidden rounded-t-lg max-h-20 object-cover w-full">

<div class="p-4 flex flex-col">
<h4 class="title">
</h4>
<div class="ep-content ep-date-published">
<span class="fa fa-fw fa-calendar"></span>
<span>December  2, 2014</span>
</div>
<div class="ep-content ep-authors">
<i class="fa fa-fw fa-user"></i>
Brook Weld Muller
</div>
<div class="ep-content ep-issue">
<i class="fa fa-fw fa-book" aria-hidden="true"></i>
Vol. 11 No. 1 (2014): Rhetoric, Policy and Critical Environmental Engagement
</div>
</div>
</div>
     <div class="mini-card min-w-80 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" :class="{ 'mini-card-first': index == 0 }">
<img src="https://arcc-journal.org/public/journals/1/submission_1064_974_coverImage_en_US.jpg" class="overflow-hidden rounded-t-lg max-h-20 object-cover w-full">
<div class="p-4 flex flex-col">
<h4 class="title">
</h4>
<div class="ep-content ep-date-published">
<span class="fa fa-fw fa-calendar"></span>
<span>June 19, 2020</span>
</div>
<div class="ep-content ep-authors">
<i class="fa fa-fw fa-user"></i>
Paulo Manta Pereira
</div>
<div class="ep-content ep-issue">
<i class="fa fa-fw fa-book" aria-hidden="true"></i>
Vol. 17 No. 1 (2020): Modernist Considerations
</div>
</div>
</div>
     <div class="mini-card min-w-80 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" :class="{ 'mini-card-first': index == 0 }">
<img src="https://arcc-journal.org/public/journals/1/submission_1071_980_coverImage_en_US.jpg" class="overflow-hidden rounded-t-lg max-h-20 object-cover w-full">
<div class="p-4 flex flex-col">
<h4 class="title">
</h4>
<div class="ep-content ep-date-published">
<span class="fa fa-fw fa-calendar"></span>
<span>December 15, 2020</span>
</div>
<div class="ep-content ep-authors">
<i class="fa fa-fw fa-user"></i>
Keith Diaz Moore
</div>
<div class="ep-content ep-issue">
<i class="fa fa-fw fa-book" aria-hidden="true"></i>
Vol. 17 No. 2 (2020): Health
</div>
</div>
</div>
     <div class="mini-card min-w-80 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" :class="{ 'mini-card-first': index == 0 }">
<img src="https://arcc-journal.org/public/journals/1/submission_391_354_coverImage_en_US.jpg" class="overflow-hidden rounded-t-lg max-h-20 object-cover w-full">
<div class="p-4 flex flex-col">
<h4 class="title">
</h4>
<div class="ep-content ep-date-published">
<span class="fa fa-fw fa-calendar"></span>
<span>December 18, 2015</span>
</div>
<div class="ep-content ep-authors">
<i class="fa fa-fw fa-user"></i>
Dalia Hafiz
</div>
<div class="ep-content ep-issue">
<i class="fa fa-fw fa-book" aria-hidden="true"></i>
Vol. 12 No. 1 (2015): Applied Effects
</div>
</div>
</div>
</div>
</div>

{% endblock %}
