{% extends "base.html" %}
<title>{% block title %}Login Page{% endblock %}</title>

{% block content %}
<div class="form-container" style=" padding: 10rem 2rem 3rem 2rem;">
  <div class="file-section ">

    <div class="card-group gap-3 text-center">

        <div class="card text-left min-w-60 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" id="card1">
          <img class="card-img-top overflow-hidden rounded-t-lg max-h-50 object-cover w-80" src="../static/images/Enterprise software development.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Ensure your website's URLs are functioning properly with our comprehensive status checker.</p>
          </div>

        </div>

        <div class="card text-left min-w-60 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" id="card2">

          <img class="card-img-top overflow-hidden rounded-t-lg max-h-50 object-cover w-80" src="../static/images/file_thumb.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Easily input URLs manually or in bulk, or upload files in CSV or XLSX formats for streamlined processing.</p>
          </div>

        </div>
        <div class="card text-left min-w-60 lg:my-4 shadow-md hover:shadow-lg rounded-lg bg-gray-100 dark:bg-gray-600" id="card3">

          <img class="card-img-top overflow-hidden rounded-t-lg max-h-50 object-cover w-80" src="../static/images/link-building.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Seamlessly optimize your website for search engines with accurate and reliable data.</p>
          </div>

        </div>
      </div>
            
  </div>

</div>

{% endblock %}
