{% extends "base.html" %}
<title>{% block title %}Privacy Policy{% endblock %}</title>

{% block content %}
<div class="form-container" style="padding: 10rem 2rem 3rem 2rem">
  <div id="file-section ">
    <div class="text-center">
      <h1>Privacy Policy</h1>
      <br />
      <div class="px-5">
        <p class="lead">
          At [Your Website Name], we prioritize the privacy and security of our
          users' personal information. This privacy policy outlines how we
          collect, use, disclose, and protect the information you provide to us
          when using our website.
        </p>
      </div>
    </div>
    <ul class="list-unstyled text-left mx-5">
      <br />

      <li class="">
        <h2>Information We Collect</h2>
        <p class="lead">
          We may collect personal information such as your name, email address,
          and contact details when you voluntarily provide it to us.
          Additionally, we automatically collect information about your usage of
          our website, including your IP address, browser type, and device
          information. We may use cookies and similar tracking technologies to
          enhance your experience on our website and analyze usage patterns.
        </p>
      </li>
      <br />

      <li class="">
        <h2>How We Use Your Information</h2>
        <p class="lead">
          We use the information you provide to deliver our services and fulfill
          your requests. We analyze usage data to understand how users interact
          with our website and make improvements accordingly. Additionally, we
          may use your contact information to send you updates, newsletters, and
          promotional materials.
        </p>
      </li>
      <br />

      <li class="">
        <h2>Disclosure of Information</h2>
        <p class="lead">
          We may share your information with third-party service providers who
          assist us in operating our website and providing services to you. We
          may also disclose your information when required by law or to protect
          our rights, property, or safety, or that of others.
        </p>
      </li>
      <br />

      <li class="">
        <h2>Data Security</h2>
        <p class="lead">
          We implement appropriate security measures to protect your personal
          information from unauthorized access, disclosure, alteration, or
          destruction.
        </p>
      </li>
      <br />

      <li class="">
        <h2>Your Rights</h2>
        <p class="lead">
          You have the right to access, correct, or delete your personal
          information. You may also opt-out of receiving promotional
          communications from us.
        </p>
      </li>
      <br />
      <li class="">
        <h2>Changes to Privacy Policy</h2>
        <p class="lead">
          We reserve the right to update or modify this privacy policy at any
          time. Any changes will be effective immediately upon posting on our
          website.
        </p>
      </li>
      <br />

      <li class="">
        <h2>Contact US</h2>
        <p class="lead">
          If you have any questions or concerns about our privacy policy, please
          contact us at [!!!!!!!!!! Contact Information !!!!!!!!!!!].
        </p>
      </li>
      <li class="">
        <h2></h2>
        <p></p>
      </li>
      <li class="">
        <h2></h2>
        <p></p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
