{% extends "base.html" %}
<title>{% block title %}Privacy Policy{% endblock %}</title>
{% block content %}
<div class="form-container" style="padding: 10rem 2rem 3rem 2rem">
  <div id="file-section ">
    <div class="text-center">
<h1>Privacy Policy</h1>
<br />
<div class="px-5">
  <p class="lead">
<p class="lead">
  This Privacy Policy outlines how URL Project collects, uses, and
  protects the personal information you provide while using our website. We are
  committed to ensuring the privacy and security of your personal information.
  By using URL Project, you agree to the terms and practices described
  in this policy.
</p>
</div>
</div>
<ul class="list-unstyled text-left mx-5">
  <br />
  <li>
<h2>Information We Collect</h2>
<p class="lead">
  When you interact with URL Project, we may collect certain
  information, including:
</p>

<ul>
  <li class="lead">
    <strong>Personal Information:</strong> We may collect your name and email
    address when you voluntarily provide it, such as when contacting us or
    subscribing to our newsletter.
  </li>
  <li class="lead">
    <strong>Usage Data:</strong> We automatically collect information about how
    you interact with our website, such as your IP address, browser type, and
    pages visited, for analytical and security purposes.
  </li>
  <li class="lead">
    <strong>Cookies:</strong> We use cookies and similar technologies to enhance
    your browsing experience and customize content based on your preferences.
  </li>
</ul>
<br />

<li>
<h2>Use of Information</h2>
<p class="lead">We use the information we collect for various purposes, including:</p>
<ul class="lead">
  <li>Providing and personalizing our services to you.</li>
  <li>Communicating with you and responding to your inquiries.</li>
  <li>
    Sending you newsletters, updates, and promotional materials if you have
    opted in to receive them.
  </li>
  <li>Analyzing website usage and improving our content and services.</li>
  <li>
    Protecting the security of our website and complying with legal obligations.
  </li>
</ul>
</li>
<br />

<li>
<h2>Data Sharing and Disclosure</h2>
<p class="lead">
  We do not sell, trade, or rent your personal information to third parties.
  However, we may share your information in the following circumstances:
</p>
<ul class="lead">
  <li>
    With service providers who assist us in operating our website and providing
    services to you.
  </li>
  <li>
    In response to valid legal processes, such as subpoenas or court orders.
  </li>
  <li>
    With your consent or as otherwise disclosed at the time of collection.
  </li>
</ul>
</li>

<br />
<li>
<h2>Data Retention</h2>
<p class="lead">
  We retain your personal information only for as long as necessary to fulfill
  the purposes outlined in this Privacy Policy, unless a longer retention period
  is required or permitted by law.
</p>
</li>
<br />

<li>
<h2>Security</h2>
<p class="lead">
  We take reasonable measures to protect the security of your personal
  information and prevent unauthorized access, disclosure, or alteration.
</p>
</li>
<br />

<li>
<h2>Your Rights</h2>
<p class="lead">
  You have the right to access, update, correct, and delete your personal
  information. You may also opt out of receiving promotional communications from
  us at any time.
</p>
</li>


<br />
<li>
<h2>Changes to This Privacy Policy</h2>
<p class="lead">
  We reserve the right to update or modify this Privacy Policy at any time. Any
  changes will be effective immediately upon posting the revised policy on our
  website.
</p>
</li>


</ul>

</div>
</div>
{% endblock %}

