<!-- url_Project.html file -->
{% extends "base.html" %} 
<title>{% block title %}Home Page{% endblock %}</title>

{% block content %}
<main>
  <div class="hero-container">
    <div class="hero-banner">
      <div class="bnr-txt">
        <h1 class="banner-heading">Welcome To URL Project</h1><br>
        <p class="dnlh">Do Not Loose Your <span class="hope hover-underline-animation">HOPE!</span></p>
      </div>
      <!-- <div class="carousel">
      </div> -->
  </div>
  </div>
    <div id="form-container" class="form-container">
        <!-- Form will be loaded dynamically here -->
    </div>
</main>
{% endblock  %}
